<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>this is home</h1>

<select class="selectpicker" name="">
  <option>test1</option>
  <option>test2</option>
  <option>test3</option>
</select>
