<div class="row">
  <div class="col-md-12">
    <h1>Congratulations! You purchase a excelent book! Enjoy it!</h1>
    <h3 class="text-center">Here is the <%= link_to 'download link', @book.resource.url, html: { class: {'data-target' => '_blank'}} %> of your book</h3>
  </div>
</div>
